# Environment
.venv
.env

# Python
__pycache__
build/
dist/
*.spec.bak

# Temporary data
data/input
data/wakeword/raw/intel_positive/*.wav
data/wakeword/raw/intel_negative/*.wav
data/wakeword/prepared/*/*.wav
data/wakeword/archive/*
!data/wakeword/archive/.gitkeep

# Training
data/wakeword/features/intel*/*.npy
